body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #000524;
  color: #00d0ff;
  height: 100%;
  width: 100%;
}

/* Landing Page */

.landing-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr min-content;
}
/* left */
.landing-left {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background: url("https://www.teahub.io/photos/full/137-1374700_colorful-laptop-wallpapers-free-stock-photos-desktop-neon.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-left-content div {
  display: flex;
  align-items: center;
  margin: 4rem;
  color: #fff;
}

/* end of left */

/* right */
.landing-right {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  position: relative;
  background-color: rgb(7, 7, 7);
}

.landing-middle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing-middle-content h1 {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  line-height: 4rem;
  color: #fff;
}

.landing-middle-content h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.landing-middle-content button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: 0.3s;
}

.landing-middle-content:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.landing-middle-content:active {
  color: #000;
}

.landing-middle-content:hover:before {
  opacity: 1;
}

.landing-middle-content:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.landing-sign-up {
  color: #fff;
}

.landing-sign-up:hover {
  background-color: #0f5d8d;
}

.landing-log-in:hover {
  background-color: #74818a;
}
/* end of right */

/* footer */
/* .main-page-footer {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  background-color: #f5f4f4;
  padding: 1.5rem;
  border-top: 0.1rem solid #ddd;
}

.main-page-footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-page-footer a {
  font-size: 1.6rem;
  margin: 0 2rem;
  text-decoration: none;
  color: #444;
  font-weight: 300;
} */
/* end of footer */

/* end of landing page */

/* Login Page */
.log-in__bg {
  background-color: rgb(7, 7, 7);
  height: 61.8rem;
  width: auto;
}

.log-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.log-in__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 50rem;
  transform: translate(-50%, -50%);
}

.log-in__container img {
  padding-top: 10rem;
  height: 200px;
  width: 400px;
}

.log-in__container h1 {
  font-size: 2.8rem;
  line-height: 4rem;
  color: #fff;
}

.log-in__container input {
  margin: 5px;
  position: relative;
}

.log-in__input-container {
  position: relative;
  margin-bottom: 25px;
}

.log-in__input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 50%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}
.log-in__input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #6c0b0b;
}

.log-in__container button {
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: 0.3s;
  margin: 2px;
}

.log-in__btn:hover {
  background-color: #6c0b0b;
}

.log-in__sign-up-btn {
  color: #fff;
}

.log-in__sign-up-btn:hover {
  background-color: #0f5d8d;
}

.log-in__container:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.log-in__container:active {
  color: #000;
}

.log-in__container:hover:before {
  opacity: 1;
}

.log-in__container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* End of Login Page */
/* Sign Up || Register Page */
.sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sign-up__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(97, 97, 97, 0.38);
  border-radius: 3%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.sign-up__container h2 {
  color: rgb(0, 0, 0);
  grid-column: 1/3;
}

.sign-up__container input {
  margin: 5px;
  position: relative;
}

.sign-up__errors-left {
  color: #bd06ae;
  grid-column: 1/3;
}

.sign-up__errors-right {
  grid-column: 3/5;
  color: #bd06ae;
}

.sign-up__errors-username {
  grid-column: 1/5;
  color: #bd06ae;
}

.sign-up__input-container {
  position: relative;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.sign-up__input-container-username {
  grid-column: 1/5;
}

.sign-up__input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  padding: 8px 0 5px 0;
  font-size: 16px;
}
.sign-up__input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #bd06ae;
}

.sign-up__input-container button {
  grid-column: 2/4;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: 0.3s;
  margin: 5px;
}

.sign-up__input-container-left {
  grid-column: 1/3;
}

.sign-up__input-container-right {
  grid-column: 3/5;
}

.sign-up__btn:hover {
  background-color: #bd06ae;
}

.sign-up__btn {
  color: #fff;
}

.sign-up__success {
  display: block;
  color: black;
  margin-top: 25rem;
}

/* End of Sign Up / Register Page */

/* Nav Bar */
.nav-bar {
  background: #000017;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}
.nav-bar a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: -30px;
  color: rgb(0, 116, 205);
  padding-left: 30px;
  padding-right: 30px;
}

.nav__logo {
  margin-top: -95px;
  margin-bottom: -35px;
  height: 200px;
  width: auto;
}

.nav__profile {
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-top: -13px;
}

/* End of Nav Bar */

/* Profile Page */
/* Profile Page Header */
.profile__banner {
  position: relative;
}

.profile__banner-info {
  display: block;
}

.profile__banner-container {
  background: url("https://d2pi5ijasmgfet.cloudfront.net/1920x510/filters:focal(2254x811:2256x813):quality(82):sharpen(0.5,0.5,true)/production%2Fpublic%2Fhero%2FBanner_5000x1800.psd-3.jpg");
  background-size: 100% 100%;
  height: 20rem;
}

.profile__pic {
  border-radius: 50%;
  border: 4px solid #fff;
  position: relative;
  width: 12rem;
  height: 12rem;
  margin-top: 60px;
}

.profile__pic:hover {
  cursor: pointer;
}

/* End of Profile Page Header */

/* Game Card */
.val-card {
  background-color: rgba(255, 255, 255, 0.123);
  display: flex;
  width: 33%;
  flex-direction: column;
  margin-left: 20rem;
  margin-top: 10px;
  padding: 15px;
  border-radius: 2%;
}

.val-card:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.val-card__info {
  display: flex;
  flex-wrap: wrap;
}

.val-card__info img {
  height: 100px;
  width: 100px;
}

.val-card__user-info {
  width: auto;
}

.val-card__user-info h3 {
  display: grid;
}

.val-card__user-rank {
  display: flex;
  justify-content: space-around;
}

.val-card__user-rank img {
  height: 200px;
  width: 200px;
}

.val-card__user-characters {
  display: flex;
  justify-content: space-around;
}

.val-card__user-characters img {
  height: 150px;
  width: 150px;
}

.val-card__user-words {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: center;
}

.val-card__user-stats {
  display: flex;
  justify-content: space-evenly;
}

.val-card__user-server {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
}

.val-card__user-mode {
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
}

.val-card__user-comms img {
  height: 100px;
  width: 100px;
}

/* End of Game Card */

/* End of Profile Page */

/* Main Page */
/* Gaming Bar */
.game-bar {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 13px;
  background-color: #000524;
}

.game-bar::-webkit-scrollbar {
  display: none;
}

.game-bar img {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  transition: transform 450ms;
  margin-right: 15px;
  cursor: pointer;
}

.game-bar img:hover {
  transform: scale(1.08);
}
/* End of Gaming Bar */

/* Message Window */
.message {
  display: inline-grid;
  position: relative;
  width: 63%;
  padding-right: 10px;
}
.message input {
  width: 100%;
  height: 30px;
}

.message__window {
  background-color: rgba(255, 255, 255, 0.123);
  height: 40rem;
  border-radius: 2%;
}

.message__post {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 9rem 1fr 3rem;
  justify-items: center;
  width: 93%;
  padding-bottom: 20px;
  align-items: center;
  margin-left: 3rem;
  border-radius: 2%;
}

.message__post:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px;
  cursor: pointer;
}

.message__post p {
  margin-left: 26px;
}

.message__user-pic {
  height: 6rem;
  width: 6rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin-left: 50px;
}

.message__post-pic {
  width: auto;
  height: 25rem;
  grid-column: 2 / -1;
}

/* End of Message Window */
/* Queue Request Window */
.request {
  display: inline-grid;
  position: relative;
  width: 35%;
}

.cybr-btn {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 1%)
  );
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 330;
  --primary-lightness: 50;
  /* --color: #004b7d; */
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(
    0 0,
    100% 0,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 70%
  );
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(
    0 2%,
    100% 2%,
    100% 95%,
    95% 95%,
    95% 90%,
    85% 90%,
    85% 95%,
    8% 95%,
    0 70%
  );
  --clip-two: polygon(
    0 78%,
    100% 78%,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 78%
  );
  --clip-three: polygon(
    0 44%,
    100% 44%,
    100% 54%,
    95% 54%,
    95% 54%,
    85% 54%,
    85% 54%,
    8% 54%,
    0 54%
  );
  --clip-four: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-five: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-six: polygon(
    0 40%,
    100% 40%,
    100% 85%,
    95% 85%,
    95% 85%,
    85% 85%,
    85% 85%,
    8% 85%,
    0 70%
  );
  --clip-seven: polygon(
    0 63%,
    100% 63%,
    100% 80%,
    95% 80%,
    95% 80%,
    85% 80%,
    85% 80%,
    8% 80%,
    0 70%
  );
  font-family: "Cyber", sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  height: 75px;
  line-height: 75px;
  transition: background 0.2s;
}

.cybr-btn:hover {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 0.8%)
  );
}
.cybr-btn:active {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 0.6%)
  );
}

.cybr-btn:after,
.cybr-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: "";
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}

.request__window {
  background-color: rgba(255, 255, 255, 0.123);
  height: 40rem;
  border-radius: 2%;
}

.request__post {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.request__post:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px;
  cursor: pointer;
}

.request__mic {
  margin-top: 18.5px;
}

.request__second-post {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* End of Queue Request Window */

/* End of Main Page */
